---
import Layout from "../../layouts/Layout.astro";
import {POSTS_ENDPOINT} from "../../consts";

export async function getStaticPaths() {
  const response = await fetch(POSTS_ENDPOINT);
  const posts = await response.json();

  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post: post },
    };
  });
}

const {slug} = Astro.params;

const res = await fetch(`${POSTS_ENDPOINT}?slug=${slug}`)
const [post] = await res.json();
console.log(post);
---

<Layout title={post.title.rendered}>
  <article>
    <h1>{post.title.rendered}</h1>
    <Fragment set:html={post.content.rendered}/>
  </article>
</Layout>

<style>
  article {
    background: #242424;
  }
</style>