---
import MainLayout from "@/layouts/MainLayout.astro";
import { POSTS_ENDPOINT } from "@/scripts/consts";
import { formatDate } from "@/scripts/utils.js";

export async function getStaticPaths() {
  const response = await fetch(POSTS_ENDPOINT);
  const posts = await response.json();

  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post: post },
    };
  });
}

const { slug } = Astro.params;

const res = await fetch(`${POSTS_ENDPOINT}?slug=${slug}`);
const [post] = await res.json();
---

<MainLayout title={post.title.rendered}>
  <article>
    <header>
      <h1>{post.title.rendered}</h1>
      <div class="post-date">
        <p>
          <time datetime={post.date}>{formatDate(post.date)}</time>
           (Diperbarui <time datetime={post.modified}
            >{formatDate(post.modified)}</time
          >)
        </p>
      </div>
    </header>

    <Fragment set:html={post.content.rendered} />
  </article>
</MainLayout>
