---
import Layout from "@/layouts/Layout.astro";
import NavBar from "@/components/NavBar.astro";
import BlogThumb from "@/components/BlogThumb.astro";
import Footer from "@/components/Footer.astro";

import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import { getCollection } from "astro:content";

import logo from "../assets/hero-image.jpeg";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/scripts/consts";

interface Infografi {
  kind: string;
  number: number;
  icon: string;
}

const infografi: Infografi[] = [
  {
    number: 75,
    icon: "mdi:teach",
    kind: "Guru",
  },
  {
    number: 683,
    icon: "mdi:graduation-cap",
    kind: "Siswa",
  },
  {
    number: 28,
    icon: "mdi:account-tie",
    kind: "Tendik",
  },
];

interface Perusahaan {
  nama: string;
  link: string;
  image: {
    url: string;
    alt?: string;
  };
}

const perusahaanArr: Perusahaan[] = [
  {
    nama: "Grand Metropolitan",
    image: {
      url: "https://smkmetland.net/ppdb/wp-content/uploads/2023/01/Grand_Metropolitan-removebg-preview-150x150.png",
    },
    link: "#",
  },
  {
    nama: "Virtalus",
    link: "#",
    image: {
      url: "https://smkmetland.net/ppdb/wp-content/uploads/2023/11/virtalus-150x150.png",
      alt: "Virtalus",
    },
  },
  {
    nama: "The Ritz-Carlton",
    link: "#",
    image: {
      url: "https://smkmetland.net/ppdb/wp-content/uploads/2023/11/ritz-calton-150x150.png",
    },
  },
  {
    nama: "Perusahaan",
    link: "#",
    image: {
      url: "https://smkmetland.net/ppdb/wp-content/uploads/2023/11/unesco-150x150.png",
    },
  },
  {
    nama: "Grand Hyatt",
    link: "#",
    image: {
      url: "https://smkmetland.net/ppdb/wp-content/uploads/2023/11/dt_153037286-150x90.png",
    },
  },
  {
    nama: "Perusahaan",
    link: "#",
    image: {
      url: "https://smkmetland.net/ppdb/wp-content/uploads/2023/01/Metropolitan_Mall_Cibubur-removebg-preview-150x150.png",
    },
  },
];

const programKeahlian = await getCollection("program-keahlian");

import { POSTS_ENDPOINT } from "@/scripts/consts.js";
import InfografiCard from "@/components/home/InfografiCard.astro";
import JurusanCard from "@/components/home/JurusanCard.astro";
const request = await fetch(`${POSTS_ENDPOINT}?per_page=5`);
const beritaArr = await request.json();
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="wrapper">
    <NavBar />
    <section class="hero">
      <figure class="hero__image">
        <Image
          src={logo}
          alt="Foto SMK tercintah"
          width={700}
          height={900}
          format="webp"
          loading="eager"
        />
      </figure>

      <figcaption class="hero__text">
        <h1>Welcome to the Smiling Campus!</h1>
        <p>
          Gua mau buat ulang <a href="https://smkmetland.net">smkmetland.net</a
          >. Jelek banget soalnya... Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Harum delectus, error, molestiae obcaecati dolorem
          numquam excepturi incidunt totam nostrum ipsa minus quaerat hic, quod
          ratione accusamus esse consequatur eaque ipsam.
        </p>

        <a href="/ppdb" class="btn btn--cta">Daftar sekarang</a>
      </figcaption>
    </section>

    <section class="main-section" id="tentang">
      <div class="main-section__content">
        <h2>Kenapa SMK Metland?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aliquid
          quis molestias obcaecati corporis unde nobis repellat exercitationem
          recusandae minima doloribus, sed rem modi eveniet repellendus nihil
          temporibus maxime quibusdam. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Natus nisi optio illo debitis. Unde eveniet vero
          temporibus autem minus minima illo! Animi quibusdam doloribus
          voluptatum suscipit eligendi asperiores cupiditate dolorem?
        </p>

        <a href="/ppdb" class="btn btn--cta">Daftar sekarang</a>
        <a href="/tentang-sekolah" class="btn">Pelajari selengkapnya</a>
      </div>
    </section>

    <section class="main-section" id="quote">
      <div class="main-section__content">
        <figure class="image">
          <Image
            src="https://cileungsivokal.com/assets/img/darmawan.png"
            width="180"
            height="320"
            alt="Pak Darmawan"
          />
        </figure>
        <blockquote>
          Pendidikan adalah perjalanan manusia menjadi manusia seutuhnya.
        </blockquote>
        <p>– Drs. Darmawan Sunarja, MM.Par.</p>
      </div>
    </section>

    <section class="main-section" id="infografi">
      <div class="main-section__content">
        <h2>Infografi</h2>
        <div class="infografi card-container">
          {infografi.map((i) => <InfografiCard {...i} />)}
        </div>
      </div>
    </section>

    <section class="main-section" id="program-keahlian">
      <div class="main-section__content">
        <h2>Program Keahlian</h2>
        <p>Jangan masuk PPLG ya.</p>

        <ul class="jurusan card-container">
          {
            programKeahlian.map(({ data, slug }) => (
              <JurusanCard {...data} url={slug} />
            ))
          }
        </ul>
      </div>
    </section>

    <section class="main-section" id="kerjasama-industri">
      <div class="main-section__content">
        <h2>Kerjasama Industri</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          delectus adipisci aperiam, porro incidunt temporibus molestias tempore
          blanditiis nihil eveniet in ut cupiditate culpa minus natus
          accusantium error, tempora est!
        </p>

        <div class="perusahaan">
          {
            perusahaanArr.map(({ link, image }) => (
              <div class="perusahaan__card">
                <a href={link}>
                  <img class="image" src={image.url} alt={image.alt} />
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <section class="main-section" id="berita-sekolah">
      <div class="main-section__content">
        <h2>Berita Sekolah</h2>

        <div class="berita card-container">
          <ul class="berita-list">
            {
              beritaArr.map((berita, index) => (
                <BlogThumb
                  class:list={[{ "hero-post": index === 0 }]}
                  post={berita}
                />
              ))
            }
          </ul>
          <a href="/berita-sekolah" class="btn">Lihat lebih banyak</a>
        </div>
      </div>
    </section>
    <Footer />
  </div>
</Layout>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .wrapper {
    max-height: 100vh;
    overflow: hidden auto;
    perspective: 10px;
    transform-style: preserve-3d;
  }

  .hero {
    min-height: 90vh;
    transform-style: preserve-3d;
    position: relative;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .hero__text {
    background: var(--hero-gradient);
    backdrop-filter: blur(0.5rem);
    color: var(--text-color);
    padding: 2rem;
    flex-grow: 1;

    h1 {
      font-size: 2.5rem;
    }

    p {
      max-width: 75ch;
    }
  }

  .hero__image {
    position: absolute;
    inset: 0;
    transform: translateZ(-10px) scale(2);
    width: 100vw;
    height: 100vh;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #daftar {
    background: var(--accent);
    padding: 1rem 2rem;
    border-radius: 2rem;

    &:hover {
      background: var(--accent-hover);
    }
  }

  .main-section {
    background: var(--main-section-bg);
    padding: 2rem;

    h2 {
      position: relative;
      width: max-content;
    }
    &__content {
      max-width: 105ch;
      margin: auto;
    }
  }

  .card-container {
    @include card-container;
  }

  .jurusan.card-container {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .card {
    @include card;
  }

  #quote .main-section__content {
    background: var(--grey);
    border-radius: 1rem;
    padding: 2rem 3rem;
    display: grid;

    @media (min-width: 50em) {
      grid-template-columns: 25rem 1fr;
      column-gap: 2rem;
    }

    justify-content: start;

    blockquote {
      margin: 0;
      text-wrap: balance;
      font-size: 1.5rem;
    }

    .image {
      margin: 0;
      grid-row: span 3;
      border-radius: 0.5rem;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // program keahlian
  .jurusan {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35ch, 1fr));
  }

  .jurusan__card {
    aspect-ratio: 1/1;
    min-width: 15ch;
  }

  // kerjasama industri
  .perusahaan {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
    gap: 1rem;
  }

  .perusahaan__card {
    background: white;
    border-radius: 0.5rem;

    .image {
      filter: grayscale(100%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .berita-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
  }

  @media screen and (min-width: 60em) {
    .hero {
      min-height: 50rem;
    }
  }
</style>
