---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@fontsource/montserrat";
import "@fontsource/montserrat/700.css";
import "@/styles/globals.css";
import "@/styles/resets.css";

const canonicalURL = new URL(Astro.url).href;
const { title, description } = Astro.props;
const image = "/assets/smkmetland.net-homepage.png";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/favicon-16x16.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/apple-touch-icon.png"
/>
<link rel="manifest" href="/assets/site.webmanifest" />
<meta name="generator" content={Astro.generator} />

<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{`${title} - SMK Metland`}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
